.navbar {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1b2634;
}
.search-bar {
  outline: none;
  color: aliceblue;
  border: none;
  background: none;
  background-color: rgb(27, 38, 52);
}
